# 🚫 Archivos a ignorar en Docker build

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Git
.git/
.gitignore
.github/

# Docs
README.md
*.md

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test reports
*.exec
surefire-reports/
jacoco/
